---
BasedOnStyle: Google
Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4

# Alignment
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# Line breaking
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None

BinPackParameters: false

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true

# Pointers
DerivePointerAlignment: true
PointerAlignment: Left

# Other
CommentPragmas: "^ NOLINT:"
SpacesBeforeTrailingComments: 1
SeparateDefinitionBlocks: Always